
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #141414;
  color: white;
  transition: top 0.3s;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.logo-text {
  font-weight: bold;
  font-size: 18px;
  color: #00ffcc;
  margin: 0;
}

.logo-img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.logo-text {
  font-weight: bold;
  font-size: 18px;
  color: #00ffcc;
  margin: 0;
}
.logout-button:hover {
  background-color: #42d3bb;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #00ffcc;
}

.navbar ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
  padding: 5px 10px;
  border-radius: 5px;
}

.navbar a:hover {
  color: #00ffcc;
}

/* الرابط النشط */
.active-link {
  background-color: #00ffcc;
  color: #141414;
  font-weight: bold;
}

