body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.light {
  background-color: rgb(14, 13, 13);
  color: black;
}

.dark {
  background-color: #121212;
  color: rgb(10, 10, 10);
}

/* تأكد من أن العناصر الداخلية ترث اللون الصحيح */
a, p, h1, h2, h3, h4, h5, h6, span, li {
  color: inherit;
}

button {
  background-color: transparent;
  color: inherit;
  border: 1px solid currentColor;
  padding: 0.4rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: rgba(255,255,255,0.1);
}
